header{
    background-color: #1a1a1a;
    width: 100%;
}


.bar{
    width: 100%;
    height: 6rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #090909;
    gap: 2rem;
}