nav{
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
nav > ul > li{
    display: inline-block;
    margin: 0 1em;
    font-size: 1.em;
    cursor: pointer;
}

.active{
    border-bottom: 0.15rem solid #bb2626;
}